# Envs
.env
.env.*.local
*.env
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Virtual envs
.venv/
venv/
env/

# Testing
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Tools
.mypy_cache/
.ruff_cache/
.pyre/
.pytype/

# Editors/OS
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Vercel
.vercel/